::placeholder {
  color: rgb(173, 167, 167) !important;
}

.contact-wrapper .form-control,
.contact-wrapper textarea {
  background-color: transparent;
  border-color: var(--gray-color);
  color: var(--text-gray);
  font-size: 15px;
  font-weight: 400;
  padding: 10px 20px;
}
.contact-wrapper .form-control:hover,
.contact-wrapper textarea:hover,
.contact-wrapper .form-control:focus,
.contact-wrapper textarea:focus {
  border-color: var(--primary-color);
  color: var(--text-white);
}
.contact-wrapper .call_details {
  color: var(--text-gray);
}
.contact-wrapper .call_details a {
  color: var(--text-gray);
  font-weight: 700;
}
