.services-wrapper .card {
  height: 100%;
  background-color: var(--bg-dark-blue);
  transition: all 0.3s ease;
}

.services-wrapper .card:hover {
  transform: translateY(-5px);
}

/* LOGOS */
.service-logos {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .service-logos {
    justify-content: flex-start;
  }
}

.service-logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.service-logo.dark-mode-fix {
  filter: brightness(0) invert(1);
}
